.org-generic-id-locations
.org-id-locations
multisession/
network-security.data
oauth2-auto.plist
org-fc-reviews.tsv
persist/
auto-save-list/
temp-files/
*.elc
*.eln
*~
el-get/
loaddefs.el
tramp
personal.el
common_personal.el
elpa/
ido.last
url/
projectile.cache
projectile-bookmarks.eld
var/
eshell/
helm-doc.org
.git-fetch
transient/
tutorial/
history
smex-items
emojis/
bookmarks
org-gcal/
request/
.recentf
session*
forge-database.sqlite
.cask/
.DS_Store
parinfer-rust/
eln-cache/
projects
