[submodule "plugins/python-emacs"]
	path = plugins/python-emacs
	url = git://github.com:vedang/python-emacs.git
    ignore = dirty
[submodule "plugins/clojure-emacs"]
	path = plugins/clojure-emacs
	url = git://github.com:vedang/clojure-emacs.git
    ignore = dirty
[submodule "plugins/revive-mode"]
	path = plugins/revive-mode
	url = git://github.com:vedang/revive-mode.git
    ignore=dirty
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/ibuffer-crate/lib/ibuffer-vc"]
	path = plugins/ibuffer-crate/lib/ibuffer-vc
	url = git://github.com/purcell/ibuffer-vc.git
    ignore = dirty
[submodule "plugins/misc/git-commit-mode"]
	path = plugins/misc/git-commit-mode
	url = git://github.com/rafl/git-commit-mode.git
    ignore = dirty
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
    ignore = dirty
